body{
    text-align: center;
    
}

h1{
    font-family:'Courier New', Courier, monospace;
    font-size: 60px;
}

#scoreboard{
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
}